.App{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.home{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #550073, #510081, #480091, #3702a2, #040cb3);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  color: #fff;

  .players{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    max-height: 80vh;
    margin-bottom: 180px;
    overflow: auto;
    padding: 0 10px;

    &::-webkit-scrollbar{
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
    }

    .player{
      border-bottom: 1px solid rgba(33, 33, 37, 0.35);
      padding: 20px 5px 8px 5px;
      text-align: left;
      display: flex;
      align-items: center;
      font-size: 16px;
      min-width: 60vw;
      font-weight: 900;
      
      .gender{
        // position: absolute;
        margin-right: 20px;
        font-size: 11px;
      }

      i{
        font-size: 11px;
        margin-left: auto;
        margin-right: 0;
        cursor: pointer;
      }
    } 

    .no-players{
      span{
        margin: 0 auto;
      }
    }
    
  }

  .add-player{
    position: absolute;
    bottom: 130px;
    
    .player-form{
      display: flex;
      flex-direction: row;
      max-width: 80vw;
      margin: 0 auto;
      padding-right: 10px;

      .switch {
        min-width: 65px;
        position: relative;
        &:before {
          content: '  ';
          z-index: -1;
          display: inline-block;
        }
      
        &__label {
          display: inline-block;
          padding: 10px;
          cursor: pointer;
          transition: color 200ms ease-out;
          &:hover {
            color: white;
          }
        }
        &__indicator {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 7px;
          border-radius: 50%;
          transition: transform 600ms cubic-bezier(.02,.94,.09,.97),
                      background 300ms cubic-bezier(.17,.67,.14,1.03);
          transform: translate3d(1rem,0,0);
        }
      
        input#male:checked ~ .switch__indicator {
          background: #006E73;
          transform: translateX(8px);
        }
        input#female:checked ~ .switch__indicator {
          background: #006E73;
          transform: translateX(37px);
        }
      
        input[type="radio"] {
          &:not(:checked),
          &:checked {
            display: none;
          }
        }
      }
    }
    
    input#user-input{
      min-width: 0;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.9);
      background: none;
      color: #fff;
      padding: 0 5px;
      text-align: center;

      &::placeholder{
        color: rgba(255,255,255,0.5);
      }
    }

    button{
      border: none;
      background: none;
      color: rgba(255,255,255,0.9);
      cursor: pointer;

      i{
        font-size: 15px;
        margin-top: 10px;
      }
    }
    
  }
 
  .start-btn{
    width: 80%;
    height: 70px;
    color: #fff;
    background-color: #212125;
    border: 0;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
  }
}

.truth-or-dare{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #550073, #510081, #480091, #3702a2, #040cb3);

  .card{
    width: 80%;
    height: 80%;
    border: 3px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    .truth,
    .dare{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 50%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-weight: 900;
      font-size: 8vw;
      letter-spacing: 10px;
    }
    .truth{
      border-bottom: 1.5px solid #fff;
    }
    .dare{
      border-top: 1.5px solid #fff;
    }

    .player{
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      left: 50%;
      height: 50px;
      padding: 0 20px;
      transform: translate(-50%, -50%);
      background: #fff;
      border: 3px solid #fff;
      border-radius: 25px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #444;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
    }
  }
}

.truth-card{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #550073, #510081, #480091, #3702a2, #040cb3);
  
  .card{
    width: 80%;
    height: 80%;
    border: 3px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .label{
      position: absolute;
      left: 50%;
      padding: 0 20px;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      color: #444;
      background: #fff;
      border: 3px solid #fff;
      border-radius: 25px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .content{
      position: relative;
      height: 50%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 500;
      letter-spacing: 1.5px;
      text-align: center;
      padding: 0 10%;
    }

    .shot{
      position: absolute;
      bottom: 25%;
      left: 50%;
      padding: 10px;
      width: 69px;
      transform: translateX(-50%);
      border: 2px solid #fff;
      border-radius: 50px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 0 0 25px 5px #212125;

      img{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 35px;
      }
    }

    .next-round-btn{
      width: 80%;
      height: 70px;
      color: #fff;
      background-color: #212125;
      border: 0;
      border-radius: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

